.signin-modal-container {
 /* border: 1px solid lime; */
 height: 540px;
 width: 500px;
 position: relative;

 .inner-signin-container {
  /* border: 1px solid hotpink; */
  height: 520px;
  width: 440px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
   font-size: 22px;
   font-weight: 600;
   text-align: left;
   margin-left: 33px;
  }

  p {
   font-size: 12px;
   width: 100%;
   line-height: 15px;
  }

  .sign-in-input {
   margin-top: 30px;
   position: relative;

   p {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
   }

   input {
    width: 98%;
    height: 44px;
    float: left;
    margin-bottom: 20px;
    background-color: #e8f0fe;
    border: 1px solid lightgray;
   }

   .pass-show {
    position: absolute;
    top: 65px;
    right: 12px;
    font-size: 12.5px;
    font-weight: 400;
   }
  }

  .signin-helps-container {
   /* border: 1px solid green; */
   height: 60px;
   width: 100%;
   display: flex;
   justify-content: space-between;

   .custom-p-styling-forgotpass {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    width: 120px;
    text-decoration: underline;

   }

   .checkbox-container {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    height: 25px;


    /* creating a custom checkbox */

    /* Hide the default checkbox */
    input[type="checkbox"] {
     appearance: none;
     -webkit-appearance: none;
     display: inline-block;
     width: 30px;
     /* Adjust as needed */
     height: 22px;
     /* Adjust as needed */
     /* padding: 2px; */
     border: 1px solid black;
     border-radius: 10%;
     position: relative;
     cursor: pointer;
    }

    /* Custom tick mark */
    input[type="checkbox"]::before {
     content: "";
     width: 100%;
     height: 100%;
     display: block;
     background-color: transparent;
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
    }

    /* Show the tick mark when checked */
    input[type="checkbox"]:checked::before {
     background-image: url('./assets/check.svg');
    }

    input[type="checkbox"]:checked {
     border: 2px solid #4d82fe;
    }

   }
  }

  .button-container {
   /* border: 1px solid red; */
   width: 100%;
   display: flex;
   flex-direction: column;

   button {
    font-size: 15px;
    font-weight: bold;
   }

   button:hover {
    cursor: pointer;
   }

   .signin-bttn {
    height: 50px;
    background-color: black;
    color: white;
    margin-bottom: 15px;
    border: none;
   }

   .signin-bttn:hover {
    background-color: #555555;
   }

   .member-bttn {
    height: 50px;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 5px;
   }
  }

  .membership-signin {
   text-decoration: underline;
   font-size: 12px;
  }

 }
}


.cursor-hover:hover {
 cursor: pointer;
}