.footer-container {
    background-color: #e4e4e4;
    margin: 0;
    padding: 0;
    padding-top: 55px;
    padding-bottom: 70px;

    ul {
        padding: 0;
        margin: 0;
    }

    .site-nav-lists-container{
        /* border: 1px dotted black; */
        max-width: 64%;
        margin: 0 auto;

        .outer-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
            line-height: 40px;
            /* border: 1px dotted purple; */

            li {
                font-weight: bold;
                font-size: 15px;
                /* border: 1px solid blue; */

                .inner-list {
                    display: flex;
                    flex-direction: column;
                    line-height: 24px;
                    width: 225px;
                    /* border: 1px solid salmon; */
                    

                    li {
                        align-self: flex-start;
                        font-weight: 400;
                        font-size: 13px;
                        /* border: 1px solid pink; */
                    }

                    li:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

            }

            .member-li-item {
                /* border: 1px solid black; */

                ul {

                    li {
                        /* font-size: 13px; */
                        line-height: 15px;
                        margin-top: 12px;
                    
                    }

                    li:hover {
                        text-decoration: none;
                        cursor: auto;
                    }

                    .cta-member-li {
                        font-weight: 500;
                        font-size: 16px;
                        margin-top: 22px;
                        
                        
                        img {
                            height: 16px;
                            margin-left: 9px;
                        }
                    }

                    .cta-member-li:hover {
                        color: #707070;
                        cursor: pointer;
                        text-decoration: underline;

                        .img {
                            filter: invert(46%) sepia(4%) saturate(9%) hue-rotate(314deg) brightness(92%) contrast(83%);
                        }
                    }

                    .cta-member-li:active {
                        color: #e50010;
                        text-decoration: underline;

                    }
                }
            }
        }
    }

    .footer-socials-container {
        /* border: 1px solid blue; */
        width: 220px;
        margin: 0 auto;
        margin-top: 22px;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            li{

                img:hover {
                    cursor: pointer;
                    filter: invert(46%) sepia(4%) saturate(9%) hue-rotate(314deg) brightness(92%) contrast(83%);
                }
            }
        }
    }

    .legal-paragraph-footer {
        /* border: 1px solid orange; */
        max-width: 710px;
        margin: 0 auto;
        line-height: 17px;
        margin-top: 25px;

        p{
            font-size: 11px;
        }
    }

    .footer-logo-container {
        /* border: 1px solid fuchsia; */
        margin: 0 auto;
        margin-top: 25px;

        img {
            height: 26px;
        }

        img:hover {
            cursor: pointer;
        }
    }

    .footer-location-currancy-container {
        /* border: 1px solid yellow; */
        margin-top: 32px;

        h1{
            font-size: 15px;
        }

        h1:hover {
            cursor: pointer;
            filter: invert(46%) sepia(4%) saturate(9%) hue-rotate(314deg) brightness(92%) contrast(83%);
        }
    }
}